[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SrikanthIP
[access "refs/for/refs/*"]
	read = group user/SrikanthIP
	push = group user/SrikanthIP
	label-Code-Review = -2..+2 group user/SrikanthIP
	label-Verified = -1..+1 group user/SrikanthIP
	rebase = group user/SrikanthIP
	removeReviewer = group user/SrikanthIP
	submit = group user/SrikanthIP
[access "refs/heads/*"]
	read = group user/SrikanthIP
	create = group user/SrikanthIP
	push = +force group user/SrikanthIP
	pushMerge = group user/SrikanthIP
[access "refs/tags/*"]
	push = +force group user/SrikanthIP
	pushTag = group user/SrikanthIP
	pushSignedTag = group user/SrikanthIP
